@font-face {
    font-family: NotoSansJP;
    src: url("NotoSansJP-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: NotoSansJp;
}

#helpButton {
  cursor: pointer;
}

#header {
  background-color: #EEE;
  margin: 0;
  width: 100%;
}

#menu {
  display: inline-block;
}

#menu div {
  display: inline-block;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  #container {
    max-width: 380px;
  }

  body {
    font-size: 0.5em;
  }

  #helpButton {
    float: right;
    height: 2em;
    margin: 0.5em;
    vertical-align: middle;
  }
}

@media screen and (min-width: 400px) and (max-width: 520px) {
  #container {
    max-width: 480px;
  }

  body {
    font-size: .75em;
  }

  #helpButton {
    float: right;
    height: 2.5em;
    margin: 0.5em;
    vertical-align: middle;
  }
}

@media screen and (min-width: 520px) {
  #container {
    max-width: 640px;
  }

  #helpButton {
    float: right;
    height: 3em;
    margin: 0.25em;
    vertical-align: middle;
  }
}

#container {
  margin: 2vh auto 0;
}

.row {
  display: flex;
  flex-direction: row;
}

#voices {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#voices .row div {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: min(3vw, 40px) min(4vw, 40px);
  margin: min(10px, 1vh);
  opacity: 0.5;
  text-align: center;
  width: 20vw;
  max-width: 150px;
  transition: opacity .3s, box-shadow .3s;
}

#voices .row div.active {
  opacity: 1;
  box-shadow: 5px 5px 5px #BBB;
}

#controls {
  margin: 10px;
}

#instructions {
  pointer-events: none;
}

#pulse {
/*  background-color: red;*/
  height: 50px;
  width: 50px;
  border-radius: 25px;
  opacity: 0;
}

#randomize {
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  background-color: #DDD;
  border-radius: 5px;
  padding: 4px;
  user-select: none;
  margin-left: 10px;
  transition: opacity .3s, box-shadow .3s;
}

#randomize.active {
  opacity: 1;
  box-shadow: 5px 5px 5px #BBB;
}